.MuiButton-startIcon {
  margin-left: 0px !important;
  margin-right: 10px !important;
}
/* -----------------------font-weights------------------------- */
.fw3 {
  font-weight: 300 !important;
}
.fw4 {
  font-weight: 400 !important;
}
.fw5 {
  font-weight: 500 !important;
}
.fw6 {
  font-weight: 600 !important;
}
.fw7 {
  font-weight: 700 !important;
}
.fw8 {
  font-weight: 800 !important;
}
.fw9 {
  font-weight: 900 !important;
}
/* ------------------------text-align------------------------ */

.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}
.icon_holder_circle {
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
